@model string

<div class="title">
    <div class="wrapper">
        <div>
            <div class="text">@Model</div>
            <div class="collapse">
                <img src="http://m.microsoft.com/Images/Icons/btn_expand_18x17_320.png" class="closed-icon" style="padding: 13px 0px 13px 0px;" alt="&gt;" width="18" height="17">
                <img src="http://m.microsoft.com/Images/Icons/btn_collapse_18x17_320.png" class="active-icon" style="padding: 13px 0px 13px 0px;" alt="v" width="17" height="17">
            </div>
            <div class="clr">
            </div>
        </div>
    </div>
</div>