    <div class="container">
        <div id='slider' class='swipe'>
            <div class='swipe-wrap'>
                <figure>
                    <div class='wrap'>
                        <div class='image' style='background: url(/static/mobile/img/carousel_1.jpg) center no-repeat;
                            background-size: cover'>
                        </div>
                        <a href=""></a>
                    </div>
                </figure>
                <figure>
                    <div class='wrap'>
                        <div class='image' style='background: url(/static/mobile/img/carousel_2.jpg) center no-repeat;
                            background-size: cover'>
                        </div>
                        <a href=""></a>
                    </div>
                </figure>
                <figure>
                    <div class='wrap'>
                        <div class='image' style='background: url(/static/mobile/img/carousel_3.jpg) center no-repeat;
                            background-size: cover'>
                        </div>
                        <a href=""></a>
                    </div>
                </figure>
                <figure>
                    <div class='wrap'>
                        <div class='image' style='background: url(/static/mobile/img/carousel_4.jpg) center no-repeat;
                            background-size: cover'>
                        </div>
                        <a href=""></a>
                    </div>
                </figure>
            </div>
        </div>
        <div class="navigation">
            <a href="#" class="next">
                <img src="http://m.microsoft.com/Images/Icons/btn_carousel_right_18x17_320.png" alt="" />
            </a><a href="#" class="prev">
                <img src="http://m.microsoft.com/Images/Icons/btn_carousel_left_18x17_320.png" alt="" />
            </a>
            <ul class='position' id="position">
                <li class='on'></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="clr">
            </div>
        </div>
    </div>