<div class="board"> </div>
<div class="hittopic box fl">
    <div class="hd">
        <div class="inner ya">热点动态</div>
    </div>
    <div class="bd">
    </div>
</div>
<div class="hotvideo box fl">
    <div class="hd">
        <div class="inner ya">视频热点</div>
    </div>
    <div class="bd">
    </div>
</div>
<div class="policy box fl">
    <div class="hd">
        <div class="inner ya">视频热点</div>
    </div>
    <div class="bd">
    </div>
</div>
<div class="network box fl">
    <div class="hd">
        <div class="inner ya">视频热点</div>
    </div>
    <div class="bd">
    </div>
</div>

@section ExtraCSS {
<link rel="Stylesheet" href="/static/service/css/board.css" />
}
