@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="/static/lib/admin/index.js" type="text/javascript"></script>
    <title>Main</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
