<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
    <siteMapNode title="Home" controller="Home" action="Overview">
        <siteMapNode title="控制面板" controller="Home" action="Index"  ImageUrl="~/content/admin/images/ico-dashboard.png" />
        <siteMapNode title="账户管理" ImageUrl="~/content/admin/images/ico-customers.png" >
            <siteMapNode title="用户资料管理" controller="User" action="List" />
            <siteMapNode title="角色管理" controller="Role" action="List" />
        </siteMapNode>
        <siteMapNode title="内容管理" ImageUrl="~/content/admin/images/ico-content.png" >
            <siteMapNode title="用户资料管理" controller="User" action="List" />
            <siteMapNode title="角色管理" controller="Role" action="List" />
        </siteMapNode>
    </siteMapNode>
</siteMap>

