<footer>
	<hr>
	<p class="pull-right"><a href="http://www.joyou.com.cn/" target="_blank">中宇官网管理系统</a> by <a href="http://www.vuuvv.com" target="_blank">vuuvv</a></p>
	<p>&copy; 2013 <a href="http://www.vuuvv.com" target="_blank">vuuvv</a></p>
</footer>