<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/service/index.css" />
</head>
<body>
    <div class="header">
        <div class="nav"></div>
	</div>
	<div class="content">
	@RenderBody()
	</div>
</body>
</html>