@using vuuvv.web.Areas.Service.Models

@{
    var layout = (PageLayout)ViewBag.PageLayout;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="keywords" content="中宇卫浴,中宇,龙头,淋浴柱,花洒,陶瓷,洁具,浴室柜,浴缸,浴室挂件,感应产品,五金配件,卫浴,中宇建材集团有限公司" />
	<meta name="description" content="中宇建材集团有限公司位于海峡西岸经济区内的古城泉州，是中国最大的卫浴水暖产品及配件制造商之一，也是亚洲最具规模的水龙头及铜阀门配件出口企业之一，同时是中国卫浴水暖产品多项国家标准主要起草单位。" />
	<title>服务中国 爱在身边 | 中宇卫浴-JOYOU</title>
	<link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href="/static/service/css/service.css" rel="Stylesheet"/>
    @RenderSection("ExtraCSS", "")
	<script type="text/javascript" src="/static/js/libs/jquery/1.7.2/jquery-min.js"></script>
    @RenderSection("ExtraJS", "")
</head>
<body>
    <div class="w">
        <div class="head">
            @Html.Partial("Navigation", layout.Navigations)
        </div>
        <div class="main">
            @RenderBody()
        </div>
        <div class="foot">
        </div>
    </div>
</body>
</html>
