@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/service/index.css" />
</head>
<body>
    <div class="wrap">
	<div class="main">
	</div>
    </div>
    <div class="w footer">
	<div class="content">
	    <a href="#" class="nav nav1"></a>
	    <a href="#" class="nav nav2"></a>
	    <a href="#" class="nav nav3"></a>
	    <a href="#" class="nav nav4"></a>
	    <a href="#" class="nav nav5"></a>
	    <a href="#" class="nav nav6"></a>
	    <a href="#" class="nav nav7"></a>
	    <a href="#" class="nav nav8"></a>
	</div>
    </div>
</body>
</html>
